extends ../layouts/shared
block header
block main
  main
    .container
      .row
        .col.l-12.c-12.m-12
          .main-login
            form#form-1.form(action='' method='POST')
              h3.heading LOG-IN
              p.desc Welcome to Music Soraly &#x1F91E; 
              .form-group
                label.form-label(for='email') Email
                input#email.form-control(name='email' type='text' placeholder='Ex: email@domain.com')
                if error 
                  span(style='color:red').form-message User does not exist or wrong password
                span.form-message
              .form-group
                label.form-label(for='password') Password &#x1F440;
                input#password.form-control(name='password' type='password' placeholder='Password')
                if error 
                  span(style='color:red').form-message User does not exist or wrong password
                span.form-message
              button.form-submit LogIn
              a(href='/signup',style = 'padding-top:10px; color:blue') You Do Not Have Account
block footer
  script.
    Validator({
    form: '#form-1',
    formInputGroup: '.form-group',
    rules: [
    Validator.isEmail('#email', 'This is not Email'),
    Validator.minLength('#password', 6, 'Please enter this field'),
    ],
    errorSelector: '.form-message',
    onSubmit: data => {
    console.log(data)
    },
    });